
.image1{
    width: 10%;
    height: 15%;
}
.sub-head1{
    display: inline-block;
    font-size: 40px;
    margin-top: 30px;
    font-family: "Lato",sans-serif;
    
}
.ghost-button {

  font-family: "Lato",sans-serif;
  display: inline-block;
  width: 10%;
  padding:.4cm;
  color: black;
  font-size: 50px
  
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              border-color 0.2s ease-out;
}
.ghost-button:hover{ 
  background-color: rgba(0, 0, 0, 0.4);
  color:white;
  border-color: rgba(255, 255, 255, 0.4);
  transition: background-color 0.5s ease-in,
              border-color 0.5s ease-in;}
.ghost-button:active {background-color: #9363c4;
  border-color: #9363c4;
  color: #fff;
  transition: color 0.3s ease-in,
              background-color 0.3s ease-in,
              border-color 0.3s ease-in;
 }
a:link{
    text-decoration: blink;
}
.body1{
  background-repeat: no-repeat;
}
.body{
    margin-top: 10px;
    padding-left: 10px;
    width: 20%;
}
.link{
  width:20%;
}
